@{
    ViewBag.Title = "Acerca";
}


<section class="bg-success py-5" style="margin-top: 5%">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1>Acerca de nosotros</h1>
                <p style="font-size: 18px">
                    Nuestros nombres son Luanna González Artavia y Sebastián Acuña Fernández, ambos tenemos 21 años,
                    somos estudiantes de la Universidad Técnica Nacional y  estudiamos la carrera de ingeniería del software.
                </p>
                <h1>Historia</h1>
                <p style="font-size: 18px">
                    La tienda deportiva S&L Store fue creada con el objetivo de ser un distribuidor de calzado deportivo de las mejores marcas mundiales
                    orientado a satisfacer las necesidades y expectativas de nuestros clientes.
            </div>
            <div class="col-md-4">
                <img src="~/Images/S&L.png" alt="Logo" style="width:100%">
            </div>
        </div>
    </div>
</section>
<section class="container py-5">
    <div class="row text-center pt-5 pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Nuestros servicios</h1>
            <p style="font-size: 18px">
                Contamos con varias opciones para que usted pueda realizar su compra en linea. Si tiene alguna consulta sobre tallas, color  o pedido Escríbenos y con gusto te ayudaremos.
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-cc-visa" aria-hidden="true"></i></div>
                <h2 class="h5 mt-4 text-center">Facilidad de pago</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-exchange" aria-hidden="true"></i></div>
                <h2 class="h5 mt-4 text-center">Devoluciones</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-percent" aria-hidden="true"></i></div>
                <h2 class="h5 mt-4 text-center">Descuentos</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-comments" aria-hidden="true"></i></div>
                <h2 class="h5 mt-4 text-center">Servicio al cliente</h2>
            </div>
        </div>
    </div>
</section>
<section class="bg-light py-5">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Nuestras marcas</h1>
                <p style="font-size: 18px">
                    Estas son nuestras marcas de calzado favoritas. Marcas que comparten nuestra
                    filosofía de calidad de producto, innovación, estética, comodidad.
                </p>
            </div>
            <div class="col-lg-9 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row">
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="prev">
                            <i class="text-light fas fa-chevron-left"></i>
                        </a>
                    </div>
                    <!--End Controls-->
                    <!--Carousel Wrapper-->
                    <div class="col">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <!--Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/Images/adidas.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/Images/nike.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/Images/under.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/Images/puma.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End First slide-->
                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/Images/adidas.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/Images/nike.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/Images/under.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/Images/puma.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Second slide-->
                                <!--Third slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/Images/adidas.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/Images/nike.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/Images/under.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/Images/puma.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Third slide-->

                            </div>
                            <!--End Slides-->
                        </div>
                    </div>
                    <!--End Carousel Wrapper-->
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="next">
                            <i class="text-light fas fa-chevron-right"></i>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">S&L Store</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <a class="text-decoration-none" style="color:white">
                            Frente al registro civil, Atenas, Alajuela, Costa Rica y
                            frente a la estación de bomberos, Naranjo, Alajuela, Costa Rica
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <a class="text-decoration-none" href="tel:010-020-0340" style="color:white">(+506) 2446 3019 y (+506) 2451 1207</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <a class="text-decoration-none" href="mailto:info@company.com" style="color:white">S&LStore@gmail.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Calzado</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#" style="color:white">Adidas</a></li>
                    <li><a class="text-decoration-none" href="#" style="color:white">Nike</a></li>
                    <li><a class="text-decoration-none" href="#" style="color:white">Under Armour</a></li>
                    <li><a class="text-decoration-none" href="#" style="color:white">Puma</a></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Secciones</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#" style="color:white">Inicio</a></li>
                    <li><a class="text-decoration-none" href="#" style="color:white">Calzado</a></li>
                    <li><a class="text-decoration-none" href="#" style="color:white">Movimientos</a></li>
                    <li><a class="text-decoration-none" href="#" style="color:white">Proveedores</a></li>
                    <li><a class="text-decoration-none" href="#" style="color:white">Sucursal</a></li>
                    <li><a class="text-decoration-none" href="#" style="color:white">Inventario</a></li>
                </ul>
            </div>

        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2021 S&L Store
                        | Diseñado por Sebastián Acuña & Luanna González
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
